body
{
	text-align: center;
	font-family: "Arial";
}

#ejemplo{
	font-size: 40px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
}

#cabecera{
	font-size: 80px;
	background-color: brown;
}